<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Vision Bloom</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/logos2.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="/assets/img/logos2.png" alt=""> <h2 class="custom-h2class">VisionBloom</h2>
        <!-- Uncomment the line below if you also wish to use an text logo -->
        <!-- <h1 class="sitename">TheEvent</h1>  -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#hotels">Our Services</a></li>
          <li><a href="#goal">Our Goal</a></li>
          <li><a href="#venue">Display Sites</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn d-none d-sm-block" href="#book-now">Book Now</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="/assets/img/bg3.jpg" alt="" data-aos="fade-in" class="">

      <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">YOUR ADVERTISEMENT<br><span>OUR SCREENS</span> </h2>
        <p data-aos="fade-up" data-aos-delay="200">Advertise your business with SMD screen rentals at prime locations.</p>
        <div data-aos="fade-up" data-aos-delay="300" class="">
          <a href="https://res.cloudinary.com/dqslsxvze/video/upload/v1723189230/vision_ovezp0.mp4" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
      </div>

      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About The Vision Bloom</h2>
              <p>Vision Bloom is working to digitalize Pakistan through Digital Signage & empowering People of Pakistan financially. We got best, futuristic & halal Investment ideas. Our Vision is to empowering People to earn Halal profit by investing with us with 100% security & legality and also helping to strengthen their brand/product/shop/company through digital marketing. </p>
                 <!-- <p>We Vision Bloom provide a great idea to grow up your business and earn healthy and halaal profit with 100% security. </p> -->
            </div>
            <div class="col-lg-3">
              <h3>Where</h3>
              <p>Main Attock stop, G.T Road Kamra. </p>
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Monday to Saturday<br>10:00 am - 6:00 pm</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Speakers Section -->
    <section id="team" class="speakers section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Team<br></h2>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="/assets/img/speakers/team1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><a href="speaker-details.html">Moin Khan</a></h4>
                  <span>Cheif Exective</span>
                </div>
                <div class="social">
                  <a href="">
                    <!-- <i class="bi bi-twitter-x"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-facebook"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-instagram"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-linkedin"></i> -->
                  </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/assets/img/speakers/team2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><a href="speaker-details.html">Hilal Ahmad</a></h4>
                  <span>Senior Advisor</span>
                </div>
                <div class="social">
                  <a href="">
                    <!-- <i class="bi bi-twitter-x"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-facebook"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-instagram"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-linkedin"></i> -->
                  </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="/assets/img/speakers/team3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><a href="speaker-details.html">Asad Murad</a></h4>
                  <span>Director</span>
                </div>
                <div class="social">
                  <a href="">
                    <!-- <i class="bi bi-twitter-x"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-facebook"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-instagram"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-linkedin"></i> -->
                  </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

         
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="/assets/img/speakers/team4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><a href="speaker-details.html">Ubaid Ullah</a></h4>
                  <span>Website Mentenance</span>
                </div>
                <div class="social">
                  <a href="">
                    <!-- <i class="bi bi-twitter-x"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-facebook"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-instagram"></i> -->
                  </a>
                  <a href="">
                    <!-- <i class="bi bi-linkedin"></i> -->
                  </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Speakers Section -->

      <!-- Hotels Section -->
      <section id="hotels" class="hotels section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Our Services</h2>
          <p>We provide secure, legal, and Islamic Mudaraba investments and SMD screens for effective ad displays.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/mudarbah.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Mudaraba investment ideas.</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>We Offer you best, secure, legal & Islamic Mudaraba investment ideas.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/buy.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Buy One SMD</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>Buy one SMD & get upto Rs.35,000/- monthly for 4 years.</p>
              </div>
            </div><!-- End Card Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/ads.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Ads Free</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>Your ad will be played free of cost on every single SMD of VISION BLOOM if
                  you buy one SMD screen from Us</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/tax.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Maintenance Free</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>All Taxes, installation & repair charges will be bear by VISION BLOOM.</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/monthly.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Get Monthly Rent</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>We will play ads of different brands/products/clients on SMD and pay you
                  monthly rent of your SMD Screen.</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card h-100">
                <div class="card-img">
                  <img src="/assets/img/boost.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Boost Brand Visibility</a></h3>
                <!-- <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div> -->
                <p>If you only wants to digitalize your brand/shop/company/product we can help
                  you to strengthen your marketing through our SMD screens by running your
                  paid Ads.</p>
              </div>
            </div><!-- End Card Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Hotels Section -->
    <!-- goal Section -->
    <section id="goal" class="schedule section">

      
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Goal<br></h2>
        <p>Our goal is to educate and empower individuals to invest wisely and earn Halal income while contributing to Pakistan's digital transformation.</p>
      </div>

      <div class="container">

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#Goal-1" role="tab" data-bs-toggle="tab">Goal 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Goal-2" role="tab" data-bs-toggle="tab">Goal 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Goal-3" role="tab" data-bs-toggle="tab">Goal 3</a>
          </li>
        </ul>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <h3 class="sub-heading">Our goal is to enhance regional visibility by strategically placing SMD screens across key districts, with a focus on significant coverage in targeted areas.</h3>

          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="Goal-1">

            <div class="row schedule-item">
              <!-- <div class="col-md-2"><time>- </time></div>
              <div class="col-md-10">
                <h4>We aim to install at least 50 SMD screens in each district.
                </h4>
               <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p> -->
              <!-- </div> -->
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker"> -->
                  <!-- <img src="/assets/img/speakers/speaker-1-2.jpg" alt="Brenden Legros"> -->
                <!-- </div> -->
                <h4>We aim to install at least 500 SMD screens in each district.</h4>
                <!-- <p>Facere provident incidunt quos voluptas.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-2-2.jpg" alt="Hubert Hirthe">
                </div> -->
                <h4>The focus is on districts in Punjab and KPK.</h4>
                <!-- <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-3-2.jpg" alt="Cole Emmerich">
                </div> -->
                <h4>Our commitment is specifically targeted towards these regions.</h4>
                <!-- <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-4-2.jpg" alt="Jack Christiansen">
                </div> -->
                <h4>The installation goal is a minimum of 50 screens per district.</h4>
                <!-- <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-5.jpg" alt="Alejandrin Littel">
                </div> -->
                <h4>We are determined to expand our presence across Punjab and KPK.</h4>
                <!-- <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p> -->
              </div>
            </div>

          </div>

          
          <div role="tabpanel" class="col-lg-9 tab-pane fade" id="Goal-2">

            <div class="row schedule-item">
              <!-- <div class="col-md-2"><time>- </time></div>
              <div class="col-md-10">
                <h4>We aim to install at least 50 SMD screens in each district.
                </h4>
               <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p> -->
              <!-- </div> -->
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker"> -->
                  <!-- <img src="/assets/img/speakers/speaker-1-2.jpg" alt="Brenden Legros"> -->
                <!-- </div> -->
                <h4>We are committed to digitalizing the market in Pakistan.</h4>
                <!-- <p>Facere provident incidunt quos voluptas.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-2-2.jpg" alt="Hubert Hirthe">
                </div> -->
                <h4>Our aim is to achieve a digital transformation similar to that in Europe.</h4>
                <!-- <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-3-2.jpg" alt="Cole Emmerich">
                </div> -->
                <h4>We are focusing on bringing advanced digital solutions to Pakistan.</h4>
                <!-- <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-4-2.jpg" alt="Jack Christiansen">
                </div> -->
                <h4>Our strategy involves aligning with practices seen in other developing countries.</h4>
                <!-- <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-5.jpg" alt="Alejandrin Littel">
                </div> -->
                <h4>We strive to modernize and innovate the market landscape in Pakistan.</h4>
                <!-- <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p> -->
              </div>
            </div>

          </div>

         
          <div role="tabpanel" class="col-lg-9 tab-pane fade" id="Goal-3">

            <div class="row schedule-item">
              <!-- <div class="col-md-2"><time>- </time></div>
              <div class="col-md-10">
                <h4>We aim to install at least 50 SMD screens in each district.
                </h4>
               <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p> -->
              <!-- </div> -->
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker"> -->
                  <!-- <img src="/assets/img/speakers/speaker-1-2.jpg" alt="Brenden Legros"> -->
                <!-- </div> -->
                <h4>Educate the people of Pakistan on investment opportunities.</h4>
                <!-- <p>Facere provident incidunt quos voluptas.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-2-2.jpg" alt="Hubert Hirthe">
                </div> -->
                <h4>Empower Pakistanis to make informed investment decisions.</h4>
                <!-- <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-3-2.jpg" alt="Cole Emmerich">
                </div> -->
                <h4>Promote the concept of earning Halal income through investments.</h4>
                <!-- <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-4-2.jpg" alt="Jack Christiansen">
                </div> -->
                <h4>Foster financial literacy and awareness across the country.</h4>
                <!-- <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p> -->
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time> - </time></div>
              <div class="col-md-10">
                <!-- <div class="speaker">
                  <img src="/assets/img/speakers/speaker-5.jpg" alt="Alejandrin Littel">
                </div> -->
                <h4>Encourage ethical and profitable investment practices among Pakistanis.</h4>
                <!-- <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p> -->
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>

    

    <!-- /Schedule Section -->

    <!-- Venue Section -->
    <section id="venue" class="venue section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Display Sites<br></h2>
        <p>SMD screens are installed at various digital signage locations for advertising and information display purposes.</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-12 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.4191206936193!2d72.35786937619002!3d33.8014956309281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df190040f0c437%3A0x9f692ee9fd2ad7d1!2sVision%20Bloom!5e0!3m2!1sen!2s!4v1721976628299!5m2!1sen!2s" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          
          <!-- <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>Downtown Conference Center, New York</h3>
                <p>Iste nobis eum sapiente sunt enim dolores labore accusantium autem. Cumque beatae ipsam. Est quae sit qui voluptatem corporis velit. Qui maxime accusamus possimus. Consequatur sequi et ea suscipit enim nesciunt quia velit.</p>
              </div>
            </div>
          </div> -->
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/g11.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/g11.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/g12.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/g12.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/g13.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/g13.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="/assets/img/venue-gallery/g14.jpg" class="glightbox" data-gall="venue-gallery">
                <img src="/assets/img/venue-gallery/g14.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Venue Section -->

  

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p>Our gallery showcases a diverse range of digital signage installations, highlighting our innovative and impactful projects.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g15.jpg"><img src="/assets/img/event-gallery/g15.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g16.jpg"><img src="/assets/img/event-gallery/g16.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g17.jpg"><img src="/assets/img/event-gallery/g17.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g18.jpg"><img src="/assets/img/event-gallery/g18.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g19.jpg"><img src="/assets/img/event-gallery/g19.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g24.jpg"><img src="/assets/img/event-gallery/g24.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g25.jpg"><img src="/assets/img/event-gallery/g25.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g26.jpg"><img src="/assets/img/event-gallery/g26.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g27.jpg"><img src="/assets/img/event-gallery/g27.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g28.jpg"><img src="/assets/img/event-gallery/g28.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g29.jpg"><img src="/assets/img/event-gallery/g29.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/event-gallery/g30.jpg"><img src="/assets/img/event-gallery/g30.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

 <!-- Sponsors Section -->
     <!-- <section id="sponsors" class="sponsors section light-background">

      <div class="container section-title" data-aos="fade-up">
        <h2>Sponsors</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0 clients-wrap">

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-7.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-3 col-md-4 client-logo">
            <img src="/assets/img/clients/client-8.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>

    </section>  -->
    <!-- /Sponsors Section -->


    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Frequently Asked Questions provide insights into common inquiries and solutions related to our services and offerings.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>How do I become the owner of an SMD?</h3>
                <div class="faq-content">
                  <p>You can invest with only buying one SMD price Rs.600,000/-,
                    You will be Owner of the SMD from the day of the Agreement.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>what are the details of the agreement process?</h3>
                <div class="faq-content">
                  <p>Once you bought one SMD an Agreement on Bank Issued EStamp paper will be signed between you & company and you will
                    be eligible for the rent from the very first day of agreement.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How will VISION BLOOM handle the payment of rent to me?</h3>
                <div class="faq-content">
                  <p>Rent will be paid by VISION BLOOM because VISION BLOOM
                    will play ads of different brands/companies/shop/products on
                    your SMD</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How long is the rent payment period, and what is the total rent amount?</h3>
                <div class="faq-content">
                  <p>Rent will be decided by the mutual decision of VISION BLOOM &
                    the valuable Client in between Rs.25,000/- to Rs.35,000/-, and
                    the agreement will be signed for 4 years at first.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

   

    
    <!-- Buy Tickets Section -->
    <section id="book-now" class="buy-tickets section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Book Now<br></h2>
        <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 pricing-item" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Standard Package</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>RS</sup>000<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Coming Soon</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Book Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="row gy-4 pricing-item featured mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Premium Package<br></h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>RS</sup>000<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
              <li><i class="bi bi-check"></i> <strong>Coming Soon</strong></li>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Book Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="row gy-4 pricing-item mt-4" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Pro Package<br></h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>RS</sup>000<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
              <li><i class="bi bi-check"></i> <span>Coming Soon</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Book Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </section><!-- /Buy Tickets Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Feel free to reach out to us with any questions or concerns via our contact form or email and call directly</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Main Attock stop, G.T Road Kamra.</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+92-319-4905160</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>visionbloomadvertising@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.4191206936193!2d72.35786937619002!3d33.8014956309281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df190040f0c437%3A0x9f692ee9fd2ad7d1!2sVision%20Bloom!5e0!3m2!1sen!2s!4v1721976628299!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Google Maps -->

          <div class="col-lg-6">
            <form action="javascript:void(0)" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="/" class="logo d-flex align-items-center">
              <span class="sitename">VisionBloom</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Main Attock stop</p>
              <p>G.T Road Kamra.</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+92-319-4905160</span></p>
              <p><strong>Email:</strong> <span>visionbloomadvertising@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Graphic Design</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
   
  <script src="/assets/js/main.js"></script>

</body>

</html>